html, body{
  box-sizing: border-box;
  background-color: #EBF2F7;
  margin: unset;
  font-family: sans-serif;
  font-size: 12px;
}

header{
  background-color: #fff;
  padding: 1% 2% 1% 2%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.title{
  font-size: 1.5rem;
  color: #555;
  font-weight: 600;
  width: 20%;
}

.search{
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}

.search .image{
  width: 5%;
}

.search-input{
  color: #555;
  border: none;
  border-bottom: 1px solid #555;
  font-size: 1rem;
  padding: 1% 2% 1% 1%;
  outline: none;
  width: 90%;
}

.autocomp{
  display: none;
  width: 92%;
  height: 100px;
  background: wheat;
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  left: 6%;
}

input[name=search-inpt]:focus::-webkit-input-placeholder {
  text-indent: -100%;
  transition: text-indent 1s ease;
}

.filter{
  width: 39%;
}

select[name=select]{
  background: #fff;
  border: none;
  outline: none;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  height: 30px;
}

main{
  position: relative;
  top: 100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 21%;
  border-radius: 5px;
  background: white;
  padding: 1%;
  cursor: pointer;
  display: inline-block;
  margin: 1%;
}

.card a{
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .name{
  font-size: 0.99rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2%;
}

.card .details{
  margin-top: 5%;
}

.card .details .text{
  margin: 0.45em 0;
  font-size: 0.9rem;
  color: #333;
}

.card .details .text b{
  color: #666;
}

.image{
  max-width: 100%;
  vertical-align: middle;
}

.wdth29{
  width: 29%;
}

.fntsmall{
  font-size: 0.7rem;
}

.fntW600{
  font-weight: 600;
}

.marL15{
  margin-left: 15px;
}

.dsp-inlnBlk{
  display: inline-block;
}

.flt-left{
  float: left;
}

.flt-right{
  float: right;
}

footer{
  display: none;
  background-color: #fff;
  padding: 1% 2% 2% 2%;
  box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
  width: 100%;
  position: fixed;
  bottom: 0;
}


@media (max-width: 1200px) {
  html, body{
    font-size: 10px;
  }
}

@media (max-width: 990px) {
  html, body{
    font-size: 8px;
  }

  .card {
    width: 29%;
  }

  .title{
    width: 8%;
  }

  .title span{
    display: none;
  }

  .filter{
    width: 50%;
  }
}

@media (max-width: 600px) {
  html, body{
    font-size: 8px;
  }

  .card {
    width: 45%;
  }

  .title{
    width: 10%;
  }

  .title span{
    display: none;
  }

  .search{
    width: 70%;
  }

  .filter{
    display: none;
  }

  footer{
    display: block;
  }
}

@media (max-width: 360px) {
  .card {
    width: 95%;
    padding: 2%;
  }
}
